$background:#f3f3f3;
$menu-items:#4C303C;
$title:#79243A;
$badge-faccion:#F5F5F5;
$badg-type:#589FDE;
$font-main-color:#707070;
$card-bg:#FFFFFF;
$card-link:#C12755;
$box-shadows:#00000029;
$success:#3FB279;
$warning:#F8B734;
$danger:#E4445B;
$button-gradient:transparent linear-gradient(90deg, #E4445B 0%, #C12755 100%) 0% 0% no-repeat padding-box;

$font-weight-title: 800;

.title{
  color: $title;
}
 